<div style="height: calc(100vh - 80px); width: 100vw; margin-top: 80px;">
  <div class="content">
    <h1>
      Dashboard
    </h1>
    <div class="user">
      <div class="avatar"></div>
      <div class="name"><%= username %></div>
    </div>
  </div>
</div>


<style>


</style>