<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    :root {
      --base: #1E90FF;
      --alternate: #ECE4B7;
      --dark: #091540;
      --light: #7692FF;
      --black: #13293D;
      --white: #E8F1F2;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      z-index: 1;
    }

    html {
      font-size: 10px;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      background-color: var(--dark);
      font-family: sans-serif;
    }

    .behind {
      position: fixed;
      filter: blur(2px);
      height: calc(100vh - 8rem);
      margin-top: 8rem;
      padding: 2rem;
      width: 100vw;
    }

    main {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .card {
      background-color: var(--black);
      border-radius: 5px;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 70vh;
      padding: 20px;
      min-width: 36rem;
      max-width: 90rem;
      max-height: 100rem;
    }

    h1 {
      font-size: 4rem;
      margin-bottom: 20px;
      color: var(--base);
      margin: 0;
    }

    .card h1 {
      margin-top: 1rem;
    }

    .welcome {
      color: #fff;
      animation: fadeIn 1s linear;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    ul {
      margin-left: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      list-style: none;
    }

    li {
      padding: .5rem 2.1rem;
      font-size: 1.8rem;
      color: #fff;
    }

    #title {
      font-size: 2.2rem;
    }


    form {
      padding: 2rem;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    fieldset {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: none;
    }

    label {
      font-size: 1.8rem;
      color: var(--white);
    }

    fieldset {
      margin-bottom: 1rem;
    }

    input {
      padding: .5rem 2rem;
      border-radius: .5rem;
      width: 100%;
      border: transparent;
      background-color: var(--white);
    }

    input {
      border: 1px solid var(--white);
    }

    input[type='submit'] {
      border: transparent;
      margin-top: 1rem;
      background-color: var(--base);
      color: var(--white);
      font-size: 1.6rem;
      font-weight: bold;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
    }

    .redirect {
      color: var(--light);
      font-weight: bold;
      text-decoration: underline;
      font-size: 1.3rem;
    }

    form p {
      font-weight: bold;
      font-size: 1.3rem;
      color: var(--white)
    }
  </style>

</head>

<body>


  <nav>
    <ul>
      <a href="/">
        <li id="title">Dashboard</li>
      </a>

      <a href="/auth/login">
        <li>Login</li>
      </a>

      <a href="/auth/register">
        <li>Register</li>
      </a>

    </ul>
    <hr />
  </nav>


  <style>
    nav {
      position: absolute;
      width: 100vw;
      height: 8rem;
      top: 0;
      left: 0;
      margin: auto;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      z-index: 3;
      background-color: var(--dark);
      color: #fff;
    }

    hr {
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      border: none;
      margin: auto;
      width: 80%;
      height: .2rem;
      background-image: radial-gradient(ellipse at center, var(--base) 0%, var(--dark) 80%);
    }
  </style>