<%- include ('./partials/header')%>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="var(--dark)" fill-opacity="1"
    d="M0,224L48,213.3C96,203,192,181,288,186.7C384,192,480,224,576,213.3C672,203,768,149,864,149.3C960,149,1056,203,1152,197.3C1248,192,1344,128,1392,96L1440,64L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
  </path>
</svg>
<div class="behind">
</div>
<main>
  <h1 class="welcome">Welcome</h1>
</main>

<style>
  svg {
    position: fixed;
    top: -20rem;
    left: 0;
    height: 1100px;
    border: none;
    left: 0;
  }
</style>

<%- include ('./partials/footer')%>