<%- include ('./partials/header') %>
<style>
  .content {
    background-color: var(--white);
    padding: 2rem;
    height: 80vh;
    margin-top: 8rem;
    width: 40rem;
    border-radius: 0 5rem 5rem 0;
    border-right: .1rem solid var(--base);
  }

  .user {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .avatar {
    background-color: var(--alternate);
    border-radius: 50%;
    height: 9rem;
    overflow: hidden;
    width: 9rem;
  }

  img {
    width: 100%;
  }

  .name {
    font-size: 4rem;
    color: var(--base);
  }

  button {
    background-color: var(--alternate);
    color: var(--black);
    font-size: 2rem;
    border-radius: .5rem;
    padding: .5rem 2.1rem;
    border: transparent;
    cursor: pointer;
  }
</style>


<div class="content">
  <div class="user">
    <div class="avatar"><img src="<%=thumbnail%>"></div>
  </div>
  <div class="name"><%= username %></div>
  <a href="/auth/logout"><button>Logout</button></a>
</div>


<%- include ('./partials/footer') %>